@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.newspaper-container {
    box-shadow: 10px 5px 5px black;
    padding: 1em;
    width: 800px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid black;
    background-color: white;
}

h1 {
    text-align: center;
    font-family: Roboto Slab;
    font-size: 310%;
}

ul {
    list-style-type: none;
}

nav {
    position: sticky;
    top: 0;
    background-color: white;
    display: block;
    padding-right: 10px;
    text-align: center;
    color: #777;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    font-family: arial;
    font-size: 90%;
}

li {
    display: inline-block;
    padding: .5em;
}

body {
    background-color: lightgrey;
    font-family: Source Sans Pro;
}

h5 {
    color: #dd3232;
}

main {
    text-align: justify;
    font-family: Roboto Slab;
}

.more-articles {
    border-top: 0.1em solid #eee;
    margin-top: 1em;
    font-family: Roboto Slab;
}

.more-articles section {
    display: inline-block;
    width: 44%;
    margin: 0 1em;
}

.more-articles img {
    width: 100%;
}

.more-articles {
    text-align: left;
    font-family: helvetica;
}

.date {
    font-family: arial;
}